#collapse{
    margin: auto;
    width: 50%;
}

#collapse li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #334067;
    /* padding: 10px; */
    border-radius: 10px;
}

#collapse li label{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #FFFFFF;

}
#collapse li label span{
    font-size: 23px;
    color: maroon;
}

#collapse label + input[type = "radio"] {
    display: none;
}

#collapse .answer {
    overflow: hidden;
    padding: 0 10px; 
    line-height: 27px;
    max-height: 0;
    transition: max-height  0.3s;
}

#collapse label + input[type= "radio"]:checked + .answer{
    max-height: 450px

}

