
#gameSlider {
    max-width: 1200px;
    position: relative;
    margin: auto;
    margin-top: 10vh;
}

#gameSlider .slide {
    display: none;
    max-width: 100%;
    height: 50vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 1.5vw;
}


#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.2s ease;
    border-radius: 5px;
    user-select: none;
}
#next {
    right: 0;
}
#prev {
    left: 0;
}

#prev:hover, #next:hover {
    background-color: rgba(96, 96, 172, 0.275);
}

#background {
    background-image: url('images/owbg.jpg');
}

/* .dot {
    cursor: pointer;
    height: 5px;
    width: 30px;
    margin: 0 4px;
    background-color: #00d0ff4a;
    border-radius: 10%;
    display: inline-block;
    transition: 0.2s ease;
}

.dot:hover {
    background-color: #00d0ff;
} */



